In [1]:
# importing data
import pandas as pd

df = pd.read_csv('HR Employee Attrition.csv')

print(df.head())

   Age Attrition     BusinessTravel  DailyRate              Department  \
0   41       Yes      Travel_Rarely       1102                   Sales
1   49        No  Travel_Frequently        279  Research & Development
2   37       Yes      Travel_Rarely       1373  Research & Development
3   33        No  Travel_Frequently       1392  Research & Development
4   27        No      Travel_Rarely        591  Research & Development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0                 1          2  Life Sciences              1               1
1                 8          1  Life Sciences              1               2
2                 2          2          Other              1               4
3                 3          4  Life Sciences              1               5
4                 2          1        Medical              1               7

   ...  RelationshipSatisfaction StandardHours  StockOptionLevel  \
0  ...                         1            80                 0
1  ...                         4            80                 1
2  ...                         2            80                 0
3  ...                         3            80                 0
4  ...                         4            80                 1

   TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
0                  8                      0               1               6
1                 10                      3               3              10
2                  7                      3               3               0
3                  8                      3               3               8
4                  6                      3               3               2

  YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0                  4                        0                     5
1                  7                        1                     7
2                  0                        0                     0
3                  7                        3                     0
4                  2                        2                     2

[5 rows x 35 columns]

In [2]:
df.info()

print(df[df.isna().any(axis=1)])
# no null data was found

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       100 non-null    int64
 1   Attrition                 100 non-null    object
 2   BusinessTravel            100 non-null    object
 3   DailyRate                 100 non-null    int64
 4   Department                100 non-null    object
 5   DistanceFromHome          100 non-null    int64
 6   Education                 100 non-null    int64
 7   EducationField            100 non-null    object
 8   EmployeeCount             100 non-null    int64
 9   EmployeeNumber            100 non-null    int64
 10  EnvironmentSatisfaction   100 non-null    int64
 11  Gender                    100 non-null    object
 12  HourlyRate                100 non-null    int64
 13  JobInvolvement            100 non-null    int64
 14  JobLevel                  100 non-null    int64
 15  JobRole                   100 non-null    object
 16  JobSatisfaction           100 non-null    int64
 17  MaritalStatus             100 non-null    object
 18  MonthlyIncome             100 non-null    int64
 19  MonthlyRate               100 non-null    int64
 20  NumCompaniesWorked        100 non-null    int64
 21  Over18                    100 non-null    object
 22  OverTime                  100 non-null    object
 23  PercentSalaryHike         100 non-null    int64
 24  PerformanceRating         100 non-null    int64
 25  RelationshipSatisfaction  100 non-null    int64
 26  StandardHours             100 non-null    int64
 27  StockOptionLevel          100 non-null    int64
 28  TotalWorkingYears         100 non-null    int64
 29  TrainingTimesLastYear     100 non-null    int64
 30  WorkLifeBalance           100 non-null    int64
 31  YearsAtCompany            100 non-null    int64
 32  YearsInCurrentRole        100 non-null    int64
 33  YearsSinceLastPromotion   100 non-null    int64
 34  YearsWithCurrManager      100 non-null    int64
dtypes: int64(26), object(9)
memory usage: 27.5+ KB
None
Empty DataFrame
Columns: [Age, Attrition, BusinessTravel, DailyRate, Department, DistanceFromHome, Education, EducationField, EmployeeCount, EmployeeNumber, EnvironmentSatisfaction, Gender, HourlyRate, JobInvolvement, JobLevel, JobRole, JobSatisfaction, MaritalStatus, MonthlyIncome, MonthlyRate, NumCompaniesWorked, Over18, OverTime, PercentSalaryHike, PerformanceRating, RelationshipSatisfaction, StandardHours, StockOptionLevel, TotalWorkingYears, TrainingTimesLastYear, WorkLifeBalance, YearsAtCompany, YearsInCurrentRole, YearsSinceLastPromotion, YearsWithCurrManager]
Index: []

[0 rows x 35 columns]

In [3]:
# 1470 entries exist, i will only use first 100
dfhun = df.iloc[0:100]
print(dfhun.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       100 non-null    int64
 1   Attrition                 100 non-null    object
 2   BusinessTravel            100 non-null    object
 3   DailyRate                 100 non-null    int64
 4   Department                100 non-null    object
 5   DistanceFromHome          100 non-null    int64
 6   Education                 100 non-null    int64
 7   EducationField            100 non-null    object
 8   EmployeeCount             100 non-null    int64
 9   EmployeeNumber            100 non-null    int64
 10  EnvironmentSatisfaction   100 non-null    int64
 11  Gender                    100 non-null    object
 12  HourlyRate                100 non-null    int64
 13  JobInvolvement            100 non-null    int64
 14  JobLevel                  100 non-null    int64
 15  JobRole                   100 non-null    object
 16  JobSatisfaction           100 non-null    int64
 17  MaritalStatus             100 non-null    object
 18  MonthlyIncome             100 non-null    int64
 19  MonthlyRate               100 non-null    int64
 20  NumCompaniesWorked        100 non-null    int64
 21  Over18                    100 non-null    object
 22  OverTime                  100 non-null    object
 23  PercentSalaryHike         100 non-null    int64
 24  PerformanceRating         100 non-null    int64
 25  RelationshipSatisfaction  100 non-null    int64
 26  StandardHours             100 non-null    int64
 27  StockOptionLevel          100 non-null    int64
 28  TotalWorkingYears         100 non-null    int64
 29  TrainingTimesLastYear     100 non-null    int64
 30  WorkLifeBalance           100 non-null    int64
 31  YearsAtCompany            100 non-null    int64
 32  YearsInCurrentRole        100 non-null    int64
 33  YearsSinceLastPromotion   100 non-null    int64
 34  YearsWithCurrManager      100 non-null    int64
dtypes: int64(26), object(9)
memory usage: 27.5+ KB
None