# 2 Question 1: <br>
Form a queue such that it works in FIFO order

In [25]:
from collections import deque

queue = deque()
queue.append(1)
queue.append(2)
# [1, 2]
queue.popleft()
# [2]
queue

deque([2])

# 2.1 Question 2:
Create a class for rectangle shape that calculates its area based upon the length and
width

In [26]:
class Rectangle:
    def __init__(self, length, width):
        self.length = length
        self.width = width

    def area(self):
        return self.length * self.width

Rectangle(3, 4).area()

12


# 3 Question 3
Write a Python class named Circle constructed by a radius and two methods which will
compute the area and the perimeter of a circle.

In [27]:
import math

class Circle:
    def __init__(self, radius):
        self.radius = radius

    def area(self):
        return math.pi * (self.radius ** 2)

    def perimeter(self):
        return 2 * math.pi * self.radius

print(Circle(3).area())
print(Circle(3).perimeter())

28.274333882308138
18.84955592153876


# 4 Question 4
Create a custom iterator that returns numbers, starting with 1, and each sequence will
increase by one (returning 1,2,3,4,5 etc.):

In [28]:
# Define a class named CustomIterator
class CustomIterator:
    # built in constructor
    def __init__(self):
        self.number = 0  # Initialize the starting number as 0

    # built in iter method same goes for __str__ (string) and __repr__ (representation)
    def __iter__(self):
        return self  # Return the iterator object itself

    # built in next method we modify this to make it a custom iterator
    def __next__(self):
        self.number += 1  # Increment the number by 1
        return self.number  # Return the incremented number

# Create an instance of the CustomIterator class
c = CustomIterator()

# Iterate over the range of 10
for i in range(10):
    print(c.__next__())  # Call the __next__() method of the CustomIterator instance and print the returned value

1
2
3
4
5
6
7
8
9
10


# Question 5
Create a class for rectangle shape that calculates its area based upon the length
and width. Make a sub class of rectangle called Trapezium, such that it inherits the
functionality of rectangle class and implements area method of its own. Length and
width should be defined in the constructor of rectangle class.

Area of Rectangle =Length+Width

Area of Trapezium=1⁄2*(l+w)*h

After creation of the class, define the relevant attributes. Define a function for area
computation and then a function for displaying area. Incorporate your knowledge of
class and objects here.

In [29]:
class Rectangle:
    def __init__(self, length, width):
        self.length = length
        self.width = width

    def area(self):
        return self.length * self.width

class Trapezium(Rectangle):
    def __init__(self, length, width, height):
        super().__init__(length, width) # call parent constructor
        self.height = height

    def area(self):
        return 0.5 * (self.length + self.width) * self.height

print(Rectangle(3, 4).area())
print(Trapezium(3, 4, 5).area())

12
17.5

# 6.1 Significance of EDA
The main purpose of EDA is to help look at data before making any assumptions. It can help
identify obvious errors, as well as better understand patterns within the data, detect outliers or
anomalous events, find interesting relations among the variables. Data scientists can use
exploratory analysis to ensure the results they produce are valid and applicable to any desired
business outcomes and goals.
EDA also helps stakeholders by confirming they are asking the right questions. EDA can help
answer questions about standard deviations, categorical variables, and confidence intervals. Once
EDA is complete and insights are drawn, its features can then be used for more sophisticated data
analysis or modeling, including machine learning.

# 6.2 Properties of Attributes in a dataset
## 6.2.1 Missing Values
Some entries can be missing because of the following reasons:
### 1. Data Extraction:
 It is possible that there are problems with extraction process. In such
cases, we should double-check for correct data with data guardians. Errors at data
extraction stage are typically easy to find and can be corrected easily as well.
### 2. Data collection: 
These errors occur at time of data collection and are harder to correct.

# 6.2.2 Outliers
Outlier is an observation that appears far away and diverges from an overall pattern in a
sample.Let’s take an example, we do customer profiling and find out that the average annual
income of customers is $1 lakh. But, there are two customers having annual income of $4 and
$4.2 million. These two customers annual income is much higher than rest of the population.
These two observations will be seen as Outliers.
Outliers can be due to the following reasons:
## 1. Data Entry Errors: 
Human errors such as errors caused during data collection,
recording, or entry can cause outliers in data. For example: Annual income of a customer
is $100,000. Accidentally, the data entry operator puts an additional zero in the figure.
Now the income becomes $1,000,000 which is 10 times higher. Evidently, this will be
the outlier value when compared with rest of the population.
## 2. Measurement Error: 
It is the most common source of outliers. This is caused when the
measurement instrument used turns out to be faulty. For example: There are 10 weighing
machines. 9 of them are correct, 1 is faulty. Weight measured by people on the faulty
machine will be higher / lower than the rest of people in the group. The weights measured
on faulty machine can lead to outliers.
## 3. Experimental Error: 
Another cause of outliers is experimental error. For example: In a
100m sprint of 7 runners, one runner missed out on concentrating on the ‘Go’ call which
caused him to start late. Hence, this caused the runner’s run time to be more than other
runners. His total run time can be an outlier.
## 4. Data Processing Error: 
Whenever we perform data mining, we extract data from
multiple sources. It is possible that some manipulation or extraction errors may lead to
outliers in the dataset.
## 5. Sampling error: 
For instance, we have to measure the height of athletes. By mistake, we
include a few basketball players in the sample. This inclusion is likely to cause outliers in
the dataset.

# 6.3 Basic Steps
Below are the steps involved to understand, clean and prepare your data for building any
predictive model:
## 1. Variable Identification
## 2. Missing values treatment
## 3. Outlier treatment
## 6.3.1 Variable Identification
Variable identification means to identify the data type and category of the variables in a dataset.
Example:
Suppose, we want to predict, whether the students will play cricket or not (refer below data set).
Here you need to identify predictor variables, target variable, data type of variables and category
of variables.
<!-- add image https://www.analyticsvidhya.com/wp-content/uploads/2015/02/Data_exploration_11.png -->
![alt text](https://www.analyticsvidhya.com/wp-content/uploads/2015/02/Data_exploration_11.png)

Below, the variables have been defined in different category:

![](https://www.analyticsvidhya.com/wp-content/uploads/2015/02/Data_exploration_2.png)

## 6.3.2 Missing Values Treatment
### 1. Deletion: Delete entry with missing value.
### 2. Mean/ Mode/ Median Imputation: Imputation is a method to fill in the missing values
with estimated ones. The objective is to employ known relationships that can be
identified in the valid values of the data set to assist in estimating the missing values.
Mean / Mode / Median imputation is one of the most frequently used methods. It consists
of replacing the missing data for a given attribute by the mean or median (quantitative
attribute) or mode (qualitative attribute) of all known values of that variable.
## 6.3.3 Outlier Treatment
### 1. Deleting observations: 
We delete outlier values if it is due to data entry error, data
processing error or outlier observations are very small in numbers. We can also use
trimming at both ends to remove outliers.
### 2. Transforming and binning values: 
Transforming variables can also eliminate outliers.





7 Exercise
7.1 NumPy is a library for the Python which adds support for large, multi-dimensional
arrays and matrices, along with a large collection of high-level mathematical
functions to operate on these arrays. Create two arrays ```A= [1,2,3,2,3,4,3,4,5,6]``` and
```B= [7,2,10,2,7,4,9,4,9,8]```. You need to get the positions where elements of A and B
match. Use a numpy function or implement your own logic.

Desired Outcome:
```[1, 3, 5, 7]```

In [30]:
import numpy as np
A= [1,2,3,2,3,4,3,4,5,6]
B= [7,2,10,2,7,4,9,4,9,8]

# You need to get the positions where elements of A and B
# match. Use a numpy function or implement your own logic.

# Desired Outcome:
# ```[1, 3, 5, 7]```

a=np.array(A)
b=np.array(B)
ans=np.where(a==b)
print(ans)

(array([1, 3, 5, 7], dtype=int64),)

7.2 Perform Exploratory Data Analysis using python libraries (NumPy and
Pandas) on the dataset provided.
7.2.1 Instructions
You need to find insights about data using as many different techniques as you can. Don’t use libraries
that haven’t been covered yet.
Hint: Explore the dataset, look for the outliers, missing values, etc
.
Use the automobile data set provided in the Google class room to explore EDA functions.
1. Check first five entries of data set. ``# data.head()``.
2. Check last five entries of dataset.```# data.tail()```.
3. Check the columns of data set.```# data.columns```.
4. Check unique values for each column ```# data.numique()```.
5. Check the missing values for each column. ```# data.isnull().sum()```.

6. Drop unnecessary data columns ```# new_data=
data.drop([‘column_name’,‘second_column_name’], axis=1).```
7. Drop null value. ```#df.dropna(subset=df.columns,inplace=True)```

In [31]:
import pandas as pd
import numpy as np

# Load the automobile dataset
df = pd.read_excel('automobile_data.xlsx')

# 1. Check first five entries of data set
print(df.head())

# 2. Check last five entries of dataset
print(df.tail())

# 3. Check the columns of data set
print(df.columns)

# 4. Check unique values for each column
print(df.nunique())

# 5. Check the missing values for each column
print(df.isnull().sum())

# 6. Drop unnecessary data columns
new_data = df.drop(['index', 'body-style', 'num-of-cylinders', 'average-mileage'], axis=1)

# 7. Drop null value
df.dropna(subset=df.columns, inplace=True)

   index      company   body-style  wheel-base  length engine-type  \
0      0  alfa-romero  convertible        88.6   168.8        dohc
1      1  alfa-romero  convertible        88.6   168.8        dohc
2      2  alfa-romero    hatchback        94.5   171.2        ohcv
3      3         audi        sedan        99.8   176.6         ohc
4      4         audi        sedan        99.4   176.6         ohc

  num-of-cylinders  horsepower  average-mileage    price
0             four         111               21  13495.0
1             four         111               21  16500.0
2              six         154               19  16500.0
3             four         102               24  13950.0
4             five         115               18  17450.0
    index     company body-style  wheel-base  length engine-type  \
56     81  volkswagen      sedan        97.3   171.7         ohc
57     82  volkswagen      sedan        97.3   171.7         ohc
58     86  volkswagen      sedan        97.3   171.7         ohc
59     87       volvo      sedan       104.3   188.8         ohc
60     88       volvo      wagon       104.3   188.8         ohc

   num-of-cylinders  horsepower  average-mileage    price
56             four          85               27   7975.0
57             four          52               37   7995.0
58             four         100               26   9995.0
59             four         114               23  12940.0
60             four         114               23  13415.0
Index(['index', 'company', 'body-style', 'wheel-base', 'length', 'engine-type',
       'num-of-cylinders', 'horsepower', 'average-mileage', 'price'],
      dtype='object')
index               61
company             16
body-style           5
wheel-base          27
length              36
engine-type          7
num-of-cylinders     7
horsepower          30
average-mileage     21
price               57
dtype: int64
index               0
company             0
body-style          0
wheel-base          0
length              0
engine-type         0
num-of-cylinders    0
horsepower          0
average-mileage     0
price               3
dtype: int64


7.2.2 Data Analysis is the process of exploring and analyzing large datasets to make predictions and
decisions. It involves a broad set of activities to clean, process, transform a data collection to
learn from it and derive meaningful insights. Its profound application can be seen in analysing
consumer behaviour in retail industry to reach out to the right customers and perform targeted
marketing to increase sales. One sample dataset has been provided which lists various features of
cars. You need to use your data analysis skills in answering the questions given ahead.
(Libraries Involved: Numpy, Pandas)

Dataset: automobile_data.csv

Initial Steps:
• Import necessary libraries

• Upload/Read the csv file using pandas

• Review the dataset for identifying any missing values

• Observe the different attributes and entries

Questions
a. Find the most expensive car from the dataset and display its price

b. Calculate total cars per manufacturer and show the result

c. Read the details of vehicles against Toyota manufacturer and print them

d. Arrange the cars according to the prices (highest-lowest) and display relevant information for first 5 rows only

In [32]:
# A: get data of most expensive car
print('Most expensive car\n',df[df['price'].max() == df['price']])
# B: cars per company
print('\ncars per company\n',df['company'].value_counts())
# C: read details of manufacturer toyota and print them
print('\ndetails of manufacturer toyota\n',df[df['company'] == 'toyota']  )
# D: arrannging cars by price descending
print('\narrannging cars by price descending\n',df.sort_values(by='price', ascending=False))

Most expensive car
     index        company body-style  wheel-base  length engine-type  \
35     47  mercedes-benz    hardtop       112.0   199.2        ohcv

   num-of-cylinders  horsepower  average-mileage    price
35            eight         184               14  45400.0

cars per company
 company
toyota           7
bmw              6
mazda            5
nissan           5
audi             4
mercedes-benz    4
mitsubishi       4
volkswagen       4
alfa-romero      3
chevrolet        3
honda            3
jaguar           3
dodge            2
porsche          2
volvo            2
isuzu            1
Name: count, dtype: int64

details of manufacturer toyota
     index company body-style  wheel-base  length engine-type num-of-cylinders  \
48     66  toyota  hatchback        95.7   158.7         ohc             four
49     67  toyota  hatchback        95.7   158.7         ohc             four
50     68  toyota  hatchback        95.7   158.7         ohc             four
51     69  toyota      wagon        95.7   169.7         ohc             four
52     70  toyota      wagon        95.7   169.7         ohc             four
53     71  toyota      wagon        95.7   169.7         ohc             four
54     79  toyota      wagon       104.5   187.8        dohc              six

    horsepower  average-mileage    price
48          62               35   5348.0
49          62               31   6338.0
50          62               31   6488.0
51          62               31   6918.0
52          62               27   7898.0
53          62               27   8778.0
54         156               19  15750.0

arrannging cars by price descending
     index        company   body-style  wheel-base  length engine-type  \
35     47  mercedes-benz      hardtop       112.0   199.2        ohcv
11     14            bmw        sedan       103.5   193.8         ohc
34     46  mercedes-benz        sedan       120.9   208.1        ohcv
46     62        porsche  convertible        89.5   168.9        ohcf
12     15            bmw        sedan       110.0   197.0         ohc
26     35         jaguar        sedan       102.0   191.7        ohcv
25     34         jaguar        sedan       113.0   199.6        dohc
45     61        porsche      hardtop        89.5   168.9        ohcf
24     33         jaguar        sedan       113.0   199.6        dohc
10     13            bmw        sedan       103.5   189.0         ohc
33     45  mercedes-benz        wagon       110.0   190.9         ohc
32     44  mercedes-benz        sedan       110.0   190.9         ohc
9      11            bmw        sedan       101.2   176.8         ohc
6       6           audi        wagon       105.8   192.7         ohc
31     43          mazda        sedan       104.9   175.0         ohc
4       4           audi        sedan        99.4   176.6         ohc
8      10            bmw        sedan       101.2   176.8         ohc
2       2    alfa-romero    hatchback        94.5   171.2        ohcv
1       1    alfa-romero  convertible        88.6   168.8        dohc
7       9            bmw        sedan       101.2   176.8         ohc
54     79         toyota        wagon       104.5   187.8        dohc
5       5           audi        sedan        99.8   177.3         ohc
3       3           audi        sedan        99.8   176.6         ohc
44     57         nissan        sedan       100.4   184.6        ohcv
0       0    alfa-romero  convertible        88.6   168.8        dohc
60     88          volvo        wagon       104.3   188.8         ohc
19     28          honda        sedan        96.5   175.4         ohc
59     87          volvo        sedan       104.3   188.8         ohc
30     39          mazda    hatchback        95.3   169.0       rotor
20     29          honda        sedan        96.5   169.1         ohc
58     86     volkswagen        sedan        97.3   171.7         ohc
53     71         toyota        wagon        95.7   169.7         ohc
39     52     mitsubishi        sedan        96.3   172.4         ohc
57     82     volkswagen        sedan        97.3   171.7         ohc
56     81     volkswagen        sedan        97.3   171.7         ohc
52     70         toyota        wagon        95.7   169.7         ohc
55     80     volkswagen        sedan        97.3   171.7         ohc
43     56         nissan        wagon        94.5   170.2         ohc
18     27          honda        wagon        96.5   157.1         ohc
40     53         nissan        sedan        94.5   165.3         ohc
38     51     mitsubishi        sedan        96.3   172.4         ohc
51     69         toyota        wagon        95.7   169.7         ohc
42     55         nissan        sedan        94.5   165.3         ohc
29     38          mazda    hatchback        93.1   159.1         ohc
21     30          isuzu        sedan        94.3   170.7         ohc
41     54         nissan        sedan        94.5   165.3         ohc
15     18      chevrolet        sedan        94.5   158.8         ohc
50     68         toyota    hatchback        95.7   158.7         ohc
16     19          dodge    hatchback        93.7   157.3         ohc
49     67         toyota    hatchback        95.7   158.7         ohc
14     17      chevrolet    hatchback        94.5   155.9         ohc
17     20          dodge    hatchback        93.7   157.3         ohc
37     50     mitsubishi    hatchback        93.7   157.3         ohc
28     37          mazda    hatchback        93.1   159.1         ohc
36     49     mitsubishi    hatchback        93.7   157.3         ohc
48     66         toyota    hatchback        95.7   158.7         ohc
27     36          mazda    hatchback        93.1   159.1         ohc
13     16      chevrolet    hatchback        88.4   141.1           l

   num-of-cylinders  horsepower  average-mileage    price
35            eight         184               14  45400.0
11              six         182               16  41315.0
34            eight         184               14  40960.0
46              six         207               17  37028.0
12              six         182               15  36880.0
26           twelve         262               13  36000.0
25              six         176               15  35550.0
45              six         207               17  34028.0
24              six         176               15  32250.0
10              six         182               16  30760.0
33             five         123               22  28248.0
32             five         123               22  25552.0
9               six         121               21  20970.0
6              five         110               19  18920.0
31             four          72               31  18344.0
4              five         115               18  17450.0
8              four         101               23  16925.0
2               six         154               19  16500.0
1              four         111               21  16500.0
7              four         101               23  16430.0
54              six         156               19  15750.0
5              five         110               19  15250.0
3              four         102               24  13950.0
44              six         152               19  13499.0
0              four         111               21  13495.0
60             four         114               23  13415.0
19             four         101               24  12945.0
59             four         114               23  12940.0
30              two         101               17  11845.0
20             four         100               25  10345.0
58             four         100               26   9995.0
53             four          62               27   8778.0
39             four          88               25   8189.0
57             four          52               37   7995.0
56             four          85               27   7975.0
52             four          62               27   7898.0
55             four          52               37   7775.0
43             four          69               31   7349.0
18             four          76               30   7295.0
40             four          55               45   7099.0
38             four          88               25   6989.0
51             four          62               31   6918.0
42             four          69               31   6849.0
29             four          68               31   6795.0
21             four          78               24   6785.0
41             four          69               31   6649.0
15             four          70               38   6575.0
50             four          62               31   6488.0
16             four          68               31   6377.0
49             four          62               31   6338.0
14             four          70               38   6295.0
17             four          68               31   6229.0
37             four          68               31   6189.0
28             four          68               31   6095.0
36             four          68               37   5389.0
48             four          62               35   5348.0
27             four          68               30   5195.0
13            three          48               47   5151.0


7.2.3 Create a dataframe. Make relevant columns, populate values in the data set, write it as .csv file
and download the .csv file to your computer.

In [33]:
df = pd.DataFrame({'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]})
print(df)
df.to_csv('l200961.csv',index=  False)

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42