In [ ]:
print("Hello, World!")

N, World!

## Python Indentation
Indentation refers to the spaces at the beginning of a code line.

Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

Python uses indentation to indicate a block of code.

In [ ]:
if 5 > 2:
  print("Five is greater than two!")

# if 5 > 2:
# print("Five is greater than two!")

Five is greater than two!

In [ ]:
# if 5 > 2:
#   print("Five is greater than two!")
#       print("Five is greater than two!")

In [ ]:
if 5 > 2:
          print("Five is greater than two!")
          print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

# Comments
Python has commenting capability for the purpose of in-code documentation.

Comments start with a #, and Python will render the rest of the line as a comment:

In [ ]:
#This is a comment.

print("Hello, World!")

In [ ]:
# This is a comment.
# This is a comment.
# This is a comment.
# This is a comment.
# This is a comment.
# This is a comment.
# This is a comment.
# This is a comment.

Or, not quite as intended, you can use a multiline string.

Since Python will ignore string literals that are not assigned to a variable, you can add a multiline string (triple quotes) in your code, and place your comment inside it:

As long as the string is not assigned to a variable, Python will read the code, but then ignore it, and you have made a multiline comment.

In [ ]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

# Variables
Variables are containers for storing data values.

Python has no command for declaring a variable.
A variable is created the moment you first assign a value to it.
Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [ ]:
a =1
b=3.3
c="AI"

print(type(a))

print(type(b))

print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

## Variable Names - Rules
A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
A variable name must start with a letter or the underscore character
A variable name cannot start with a number
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
Variable names are case-sensitive (age, Age and AGE are three different variables)

# Built-in Data Types
In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set
Boolean Type:	bool

In [ ]:
a = "Hello World"		
b = 20	
c = 20.5		
d = 1j		
e = ["apple", "banana", "cherry"]		
f = ("apple", "banana", "cherry")		
g = range(6)	
h = {"name" : "John", "age" : 36}		
i = {"apple", "banana", "cherry"}			
j = True	
k = None

In [ ]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
print(type(h))
print(type(i))
print(type(j))
print(type(k))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'bool'>
<class 'NoneType'>

# Type Casting (Type Conversion)

In [ ]:
a =10

type(a)

int

In [ ]:
str(a)
# print(type(a))

'10'

In [ ]:
print(type(a))
a= str(a)
print(type(a))

<class 'int'>
<class 'str'>

In [ ]:
print(type(a))
a= float(a)
print(type(a))

<class 'str'>
<class 'float'>

In [ ]:
x = "AI"
y = '4'

# int(x)
int(y)

4

# Strings

1. Strings in python are surrounded by either single quotation marks, or double 
quotation marks.
'hello' is the same as "hello".
   
2. Like many other popular programming languages, strings in Python are arrays of bytes

3. However, Python does not have a character data type, a single character is simply a string with a length of 1.

4. Square brackets can be used to access elements of the string (Indexing)

In [ ]:
print("Hello")
print('Hello')

Hello
Hello

In [ ]:
a = "Hello, World!"
print(a[1])

print(len(a))

e
13

# Slicing
You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [ ]:
name="hassan"

In [ ]:
print(name[1])
print(name[1:])
print(name[:3])
print(name[1:5])
print(name[1:6])
print(name[-1])   #Negative Indexing

a
assan
has
assa
assan
n

#Operations

In [ ]:
10 / 2

5.0

In [ ]:
10 // 2

5

In [ ]:
10 /3

3.3333333333333335

In [ ]:
10             /                   3

3.3333333333333335

In [ ]:
10    // 3

3

In [ ]:
int(10/3)

3

In [ ]:
10%3

1

In [ ]:
# Exp/Power

2**3

8

In [ ]:
# Error

# 2***3

# Python if...else Statement

In [ ]:
number = 10

if number > 0:
    print('Positive number')

else:
    print('Negative number')

Positive number

In [ ]:
number = 0

if number > 0:
    print("Positive number")

elif number == 0:
    print('Zero')
else:
    print('Negative number')

Zero

# Nested if else Statement

In [ ]:
number = 5

# outer if statement
if (number >= 0):
    # inner if statement
    if number == 0:
      print('Number is 0')
    
    # inner else statement
    else:
        print('Number is positive')

# outer else statement
else:
    print('Number is negative')

Number is positive

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

#Loops

In [ ]:
i=0

while i<5:
  print(i, " AI")
  i=i+1

0  AI
1  AI
2  AI
3  AI
4  AI

In [ ]:
mylist = [1,2,3,4,5,6]

for i in mylist:
  print(i)

1
2
3
4
5
6

In [ ]:
for i in range(0,3): #range is a function
  print(mylist[i])

1
2
3

In [ ]:
for i in range(3):
  print(mylist[i])

1
2
3

# Functions

In [ ]:
def greet(x):
  print(" Welcome ", x)

greet("Hassan")

greet(11)
greet(3.2)

 Welcome  Hassan
 Welcome  11
 Welcome  3.2

In [ ]:
def add(a,b):
  return a+b

add(5,4)

9