In [1]:
even_count = 0
odd_count = 0
positive_count = 0
zero_count = 0
for i in range(20):
    num = int(input())
    if num == 0:
        zero_count += 1
    elif num > 0:
        positive_count += 1
    if num % 2 == 0:
        even_count += 1
    else:
        odd_count += 1
print("Positive numbers: ",positive_count)
print("Odd numbers: ",odd_count)
print("Even numbers: ",even_count)
print("0s: ",zero_count)

Positive numbers:  17
Odd numbers:  10
Even numbers:  10
0s:  0

In [1]:
list1 = []
for i in range(10):
    num = int(input())
    list1.append(num)
list2 = list1[::-1]
print(list2)

[5, 6, 7, 8, 9, 10, 4, 3, 2, 1]

In [1]:
list1 = [1,2,3,4,5,6,7,8,9,10]
# sum of all elements
sum = 0
for i in list1:
    sum += list1[i-1]
print(sum)

55

In [2]:
# product of all elements
product = 1
for i in list1:
    product *= i
print(product)

3628800

In [3]:
# largest element
largest = sorted(list1)[-1]
print('largest element: ',largest)
# smallest
smallest = sorted(list1)[0]
print('smallest element:', smallest)

largest element:  10
smallest element: 1

In [4]:
# palindrome
stri = 'racecar'
stri = [1,0,1]
if stri == stri[::-1]:
    print('palindrome')
else:
    print('not palindrome')

palindrome

In [5]:
# unpack tuple into several variables
tups = (1,2,3,4,5,6,7,8,9,10)
a,b,c,d,e,f,g,h,i,j = tups
print(a,b,c,d,e,f,g,h,i,j)

1 2 3 4 5 6 7 8 9 10

In [6]:
# add element to tuple
tups = tups + (11,)
print(tups)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11)

In [7]:
# convert tupt to dict ONLY WORKS FOR EVEN NUMBER OF ELEMENTS
d={}
# loop through the tuple in pairs of two
for i in range(0, len(tups)-1, 2):
    # use the first element as the key and the second element as the value
    d[tups[i]] = tups[i+1]
# print the dictionary
print(d)

{1: 2, 3: 4, 5: 6, 7: 8, 9: 10}

In [8]:
# reverse a tuple
tups = tups[::-1]
tups

(11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [9]:
# Write a program to add two lists index-wise. Create a new list that contains the 0th
# index item from both the list, then the 1st index item, and so on till the last
# element. any leftover items will get added at the end of the new list.
list1 = [1,2,3,4,5]
list2 = [5,4,3,2,1]
list3 = []
for i in range(len(list1)):
    list3.append(list1[i])
    list3.append(list2[i])
list3

[1, 5, 2, 4, 3, 3, 4, 2, 5, 1]

In [10]:
# sort a tup
print(sorted(tups))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [11]:
sample_dict = {
"emp1": {"name": "Jhon", "salary": 7500},
"emp2": {"name": "Emma", "salary": 8000},
"emp3": {"name": "Brad", "salary": 500}
}
# change brad's salary to 8500
sample_dict['emp3']['salary'] = 8500
sample_dict

{'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}