In [75]:
import time

In [76]:
import pandas as pd

In [77]:
from selenium import webdriver

In [78]:
from bs4 import BeautifulSoup

In [79]:
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

In [83]:
s = Service("chromedriver.exe")

In [84]:
driver = webdriver.Chrome(service = s)

In [22]:
#driver.get("https://www.youtube.com/")

In [85]:
driver.get("https://www.youtube.com/@analogcourses1192/videos")

In [86]:
videos = driver.find_elements(By.CLASS_NAME, "style-scope ytd-rich-grid-media")

In [87]:
for video in videos:
    titles = driver.find_elements(By.XPATH,'//*[@id="video-title"]')
    views = driver.find_elements(By.XPATH,'//*[@id="metadata-line"]/span[1]')

In [88]:
l = len(videos)
l

6

In [89]:
for x in range(0,l):
    print(titles[x].text.strip(), " ", views[x].text.strip())

WordPress Tutorial | Creating first page in Elementor 3   41 views
WordPress Tutorial | Creating first page in Elementor-2   12 views
WordPress Tutorial | Creating first page in Elementor -1   38 views
WordPress Tutorial | Installing Plugins (1)   15 views
Wordpress tutorial - How to install wordpress | Part 2   76 views
Wordpress tutotrial How to Install wordpress | Part 1   105 views

In [28]:
#views = driver.find_elements(By.XPATH,'//*[@id="metadata-line"]/span[1]')

In [93]:
driver.get("https://www.google.com/")

In [ ]:
//*[@id="APjFqb"]

In [94]:
search = driver.find_element(by=By.XPATH,value='//*[@id="APjFqb"]')

In [95]:
search.send_keys("Selenium")
time.sleep(2)
search.send_keys(Keys.ENTER)

In [96]:
driver.save_screenshot("article.png")

True

In [97]:
#driver.get("https://covid19.ncdc.gov.ng/")
driver.get("https://www.espncricinfo.com/records/team/bowling-best-career-economy-rate/pakistan-7/test-matches-1")

In [98]:
page = driver.find_element(By.XPATH, value= '/html/body/div/section/section/div[3]/div[3]/div/div[1]/div[3]')

In [99]:
cricket = BeautifulSoup(page.get_attribute("outerHTML"), 'html.parser')

In [100]:
table = cricket.find('table')

In [41]:
#table.prettify()

In [101]:
rows = table.find_all('tr')

In [102]:
len(rows)

59

In [103]:
headers = rows[0]

In [104]:
headers

<tr class=""><td class="ds-min-w-max"><div class="ds-popper-wrapper"><span aria-expanded="false" class="ds-cursor-pointer">Player</span></div></td><td class="ds-min-w-max ds-text-right"><div class="ds-popper-wrapper"><span aria-expanded="false" class="ds-cursor-pointer">Span</span></div></td><td class="ds-min-w-max ds-text-right"><div class="ds-popper-wrapper"><span aria-expanded="false" class="ds-cursor-pointer">Mat</span></div></td><td class="ds-min-w-max ds-text-right"><div class="ds-popper-wrapper"><span aria-expanded="false" class="ds-cursor-pointer">Overs</span></div></td><td class="ds-min-w-max ds-text-right"><div class="ds-popper-wrapper"><span aria-expanded="false" class="ds-cursor-pointer">Mdns</span></div></td><td class="ds-min-w-max ds-text-right"><div class="ds-popper-wrapper"><span aria-expanded="false" class="ds-cursor-pointer">Balls</span></div></td><td class="ds-min-w-max ds-text-right"><div class="ds-popper-wrapper"><span aria-expanded="false" class="ds-cursor-pointer">Runs</span></div></td><td class="ds-min-w-max ds-text-right"><div class="ds-popper-wrapper"><span aria-expanded="false" class="ds-cursor-pointer">Wkts</span></div></td><td class="ds-min-w-max ds-text-right"><div class="ds-popper-wrapper"><span aria-expanded="false" class="ds-cursor-pointer">BBI</span></div></td><td class="ds-min-w-max ds-text-right"><div class="ds-popper-wrapper"><span aria-expanded="false" class="ds-cursor-pointer">Ave</span></div></td><td class="ds-min-w-max ds-text-right"><div class="ds-popper-wrapper"><span aria-expanded="false" class="ds-cursor-pointer"><strong>Econ</strong></span></div></td><td class="ds-min-w-max ds-text-right"><div class="ds-popper-wrapper"><span aria-expanded="false" class="ds-cursor-pointer">SR</span></div></td><td class="ds-min-w-max ds-text-right"><div class="ds-popper-wrapper"><span aria-expanded="false" class="ds-cursor-pointer">4</span></div></td><td class="ds-min-w-max ds-text-right"><div class="ds-popper-wrapper"><span aria-expanded="false" class="ds-cursor-pointer">5</span></div></td><td class="ds-min-w-max ds-text-right"><div class="ds-popper-wrapper"><span aria-expanded="false" class="ds-cursor-pointer">10</span></div></td></tr>

In [105]:
head = headers.find_all('td')

In [106]:
head[0].text.strip()

'Player'

In [107]:
titles = []
for i in head:
    title = i.text.strip()
    titles.append(title)

In [108]:
titles

['Player',
 'Span',
 'Mat',
 'Overs',
 'Mdns',
 'Balls',
 'Runs',
 'Wkts',
 'BBI',
 'Ave',
 'Econ',
 'SR',
 '4',
 '5',
 '10']

In [109]:
df = pd.DataFrame(columns = titles)

In [110]:
df

Empty DataFrame
Columns: [Player, Span, Mat, Overs, Mdns, Balls, Runs, Wkts, BBI, Ave, Econ, SR, 4, 5, 10]
Index: []

In [111]:
for i in rows[1:]:
    data = i.find_all('td')
    row = [tr.text.strip() for tr in data]
    l = len(df)
    df.loc[l] = row

In [112]:
df

,Player,Span,Mat,Overs,Mdns,Balls,Runs,Wkts,BBI,Ave,Econ,SR,4,5,10
0,Pervez Sajjad,1964-1973,19,-,217,4145,1410,59,7/74,23.89,2.04,70.2,4,3,-
1,Mohammad Nazir,1969-1983,14,543.4,162,3262,1124,34,7/99,33.05,2.06,95.9,-,3,-
2,Shujauddin,1954-1962,19,385.3,121,2313,801,20,3/18,40.05,2.07,115.6,-,-,-
3,Fazal Mahmood,1952-1962,34,1639.0,560,9834,3434,139,7/42,24.70,2.09,70.7,6,13,4
4,AH Kardar,1952-1958,23,452.0,139,2712,954,21,3/35,45.42,2.11,129.1,-,-,-
5,Iqbal Qasim,1976-1988,50,-,649,13019,4807,171,7/49,28.11,2.21,76.1,13,8,2
6,Arshad Khan,1997-2005,9,423.0,119,2538,960,32,5/38,30.00,2.26,79.3,1,1,-
7,Tauseef Ahmed,1980-1993,34,1296.2,359,7778,2950,93,6/45,31.72,2.27,83.6,3,3,-
8,Asif Iqbal,1964-1980,58,-,181,3864,1502,53,5/48,28.33,2.33,72.9,1,2,-
9,Mohammad Abbas,2017-2021,25,855.4,261,5134,2072,90,5/33,23.02,2.42,57.0,6,4,1
10,Majid Khan,1964-1983,63,-,124,3584,1456,27,4/45,53.92,2.43,132.7,1,-,-
11,Khan Mohammad,1952-1958,13,526.1,153,3157,1292,54,6/21,23.92,2.45,58.4,4,4,-
12,Sarfraz Nawaz,1969-1984,55,-,486,13951,5798,177,9/86,32.75,2.49,78.8,14,4,1
13,Abdur Rehman,2007-2014,22,1148.4,256,6892,2910,99,6/25,29.39,2.53,69.6,8,2,-
14,Mudassar Nazar,1976-1989,76,-,217,5967,2532,66,6/32,38.36,2.54,90.4,1,1,-
15,Imran Khan,1971-1992,88,-,727,19458,8258,362,8/58,22.81,2.54,53.7,17,23,6
16,Saleem Altaf,1967-1978,21,-,122,4001,1710,46,4/11,37.17,2.56,86.9,2,-,-
17,Intikhab Alam,1959-1977,47,-,383,10474,4494,125,7/52,35.95,2.57,83.7,8,5,2
18,Saeed Ajmal,2009-2014,35,1932.0,386,11592,5003,178,7/55,28.10,2.58,65.1,9,10,4
19,Wasim Akram,1985-2002,104,3771.1,871,22627,9779,414,7/119,23.62,2.59,54.6,20,25,5
20,Mushtaq Mohammad,1959-1979,57,-,177,5260,2309,79,5/28,29.22,2.63,66.5,6,3,-
21,Aamer Sohail,1992-2000,47,397.1,80,2383,1049,25,4/54,41.96,2.64,95.3,1,-,-
22,Saqlain Mushtaq,1995-2004,49,2345.0,541,14070,6206,208,8/164,29.83,2.64,67.6,12,13,3
23,Mohammad Hafeez,2003-2018,55,677.5,118,4067,1808,53,4/16,34.11,2.66,76.7,2,-,-
24,Nasim-ul-Ghani,1958-1973,29,-,204,4406,1959,52,6/67,37.67,2.66,84.7,1,2,-
25,Mahmood Hussain,1952-1962,27,985.0,225,5910,2628,68,6/67,38.64,2.66,86.9,4,2,-
26,Wasim Raja,1973-1985,57,-,134,4082,1826,51,4/50,35.80,2.68,80.0,2,-,-
27,Saleem Jaffar,1986-1992,14,421.5,93,2531,1139,36,5/40,31.63,2.70,70.3,-,1,-
28,Abdul Qadir,1977-1990,67,-,608,17126,7742,236,9/56,32.80,2.71,72.5,12,15,5
29,Shabbir Ahmed,2003-2005,10,429.2,97,2576,1175,51,5/48,23.03,2.73,50.5,5,2,-
30,Azhar Mahmood,1997-2001,21,502.3,111,3015,1402,39,4/50,35.94,2.79,77.3,2,-,-
31,Haseeb Ahsan,1958-1962,12,472.3,100,2835,1330,27,6/202,49.25,2.81,105.0,-,2,-
32,Zulfiqar Babar,2013-2016,15,746.2,143,4478,2129,54,5/74,39.42,2.85,82.9,2,2,-
33,Mohammad Amir,2009-2019,36,1269.5,292,7619,3627,119,6/44,30.47,2.85,64.0,6,4,-
34,Aaqib Javed,1989-1998,22,653.0,136,3918,1874,54,5/84,34.70,2.86,72.5,2,1,-
35,Mushtaq Ahmed,1990-2003,52,2088.4,405,12532,6100,185,7/56,32.97,2.92,67.7,6,10,3
36,Junaid Khan,2011-2015,22,767.3,157,4605,2253,71,5/38,31.73,2.93,64.8,1,5,-
37,Noman Ali,2021-2023,15,534.4,101,3208,1576,47,7/70,33.53,2.94,68.2,1,4,-
38,Sikander Bakht,1976-1983,26,-,147,4870,2412,67,8/69,36.00,2.97,72.6,2,3,1
39,Tahir Naqqash,1982-1985,15,466.4,108,2800,1398,34,5/40,41.11,2.99,82.3,1,2,-
40,Mohammad Asif,2005-2010,23,861.5,200,5171,2583,106,6/41,24.36,2.99,48.7,6,7,1
41,Azeem Hafeez,1983-1985,18,725.1,172,4351,2204,63,6/46,34.98,3.03,69.0,3,4,-
42,Hasan Ali,2017-2024,24,715.5,164,4295,2185,80,5/27,27.31,3.05,53.6,2,6,1
43,Danish Kaneria,2000-2010,61,2949.3,517,17697,9082,261,7/77,34.79,3.07,67.8,8,15,2
44,Asif Masood,1969-1977,16,-,78,3038,1568,38,5/111,41.26,3.09,79.9,1,1,-
45,Shaheen Shah Afridi,2018-2024,30,1001.0,205,6006,3115,115,6/51,27.08,3.11,52.2,12,4,1
46,Abdul Razzaq,1999-2006,46,1168.0,219,7008,3694,100,5/35,36.94,3.16,70.0,4,1,-
47,Shahid Afridi,1998-2010,27,532.2,69,3194,1709,48,5/52,35.60,3.21,66.5,1,1,-
48,Rahat Ali,2013-2018,21,704.3,127,4227,2264,58,6/127,39.03,3.21,72.8,3,2,-
49,Yasir Shah,2014-2022,48,2375.5,359,14255,7657,244,8/41,31.38,3.22,58.4,15,16,3
50,Waqar Younis,1989-2003,87,2704.0,516,16224,8788,373,7/76,23.56,3.25,43.4,28,22,5
51,Shoaib Malik,2001-2015,35,452.0,61,2712,1519,32,4/33,47.46,3.36,84.7,2,-,-
52,Shoaib Akhtar,1997-2007,46,1357.1,237,8143,4574,178,6/11,25.69,3.37,45.7,10,12,2
53,Shahid Nazir,1996-2007,15,372.2,71,2234,1272,36,5/53,35.33,3.41,62.0,-,1,-
54,Wahab Riaz,2010-2018,27,836.2,118,5018,2864,83,5/63,34.50,3.42,60.4,3,2,-
55,Umar Gul,2003-2013,47,1599.5,256,9599,5553,163,6/135,34.06,3.47,58.8,12,4,-
56,Mohammad Sami,2001-2012,36,1249.5,193,7499,4483,85,5/36,52.74,3.58,88.2,3,2,-
57,Naseem Shah,2019-2024,18,506.3,84,3039,1825,54,5/31,33.79,3.60,56.2,2,1,-

In [113]:
df.to_csv('cricket.csv')

In [114]:
driver.get("https://www.google.com/")
search = driver.find_element(by=By.XPATH,value='//*[@id="APjFqb"]')
time.sleep(2)
search.send_keys("Nike")
time.sleep(3)
search.send_keys(Keys.ENTER)

In [115]:
driver.find_element(by=By.XPATH, value = '/html/body/div[3]/div/div[12]/div[1]/div[2]/div[2]/div/div/div[1]/div/div/div/div/div/div/div/div[1]/div/span/a').click()

In [116]:
driver.get("https://www.nike.com/w/baby-toddler-kids-shoes-2j488zv4dhzy7ok")

In [117]:
while True:
    height = driver.execute_script("return document.body.scrollHeight")
    print(height)
    driver.execute_script("window.scrollTo(0,document.body.scrollHeight)")
    time.sleep(4)
    h2 = driver.execute_script("return document.body.scrollHeight")

    if height == h2:
        break

14419
22597

In [118]:
content = driver.find_element(by=By.XPATH, value='/html/body/div[4]/div/div/div[2]/div[4]/div/div[7]/div[2]/main/section/div')

In [119]:
html = BeautifulSoup(content.get_attribute("outerHTML"), 'html.parser')

In [120]:
all_products = html.find_all("div", class_="product-card__info disable-animations")

In [121]:
len(all_products)

91

In [122]:
names = []
colors = []
prices=[]
for product in all_products:
    name = product.find("div", class_="product-card__title")
    color = product.find("div", class_="product-card__product-count")
    price = product.find("div", class_ = "product-card__price")
    names.append(name.text.strip())
    colors.append(color.text.strip())
    prices.append(price.text.strip())

In [123]:
df2 = pd.DataFrame()

In [124]:
df2["Product Name"] = names
df2["Color Options"] = colors
df2["Price"] = prices

In [125]:
df2

               Product Name Color Options      Price
0             Nike Dunk Low      3 Colors        $55
1             Nike Swoosh 1      4 Colors        $62
2   Nike Force 1 Low EasyOn     11 Colors        $55
3       Nike Blazer Mid '77      5 Colors        $65
4   Nike Force 1 Mid EasyOn      2 Colors        $60
..                      ...           ...        ...
86                  Tatum 2       1 Color        $55
87      Nike Blazer Mid '77       1 Color        $65
88       Jordan 1 Mid Wings       1 Color        $65
89  Nike Force 1 Low EasyOn       1 Color  $53.97$65
90     Nike Flex Advance SE       1 Color  $41.97$65

[91 rows x 3 columns]

In [126]:
df2.to_csv("nike.csv")