In [10]:
class(20)
class(20.5)
class('x')
class(complex(1))
class(FALSE)

[1] "numeric"

[1] "numeric"

[1] "character"

[1] "complex"

[1] "logical"

In [12]:
# numeric
x <- 10.5
class(x)
# integer
x <- 1000L
class(x)
# complex
x <- 9i + 3
class(x)
# character/string
x <- "R is exciting"
class(x)
# logical/boolean
x <- FALSE
class(x)

[1] "numeric"

[1] "integer"

[1] "complex"

[1] "character"

[1] "logical"

#####- Notice the typeof() function used in the above example. Find out what it does. Execute the given example in Jupyter notebook to observe the result of type casting.

In [18]:
# cast to int
age <- "20"
flag <- FALSE
as.numeric(age)
as.numeric(flag)
print(age) # 20
print(flag) # 0
# cast to str
age <- 20
flag <- 0
as.character(age)
as.character(flag)
print(age) # "20"
print(flag) # "FALSE"

# cast to boolean
flagOne <- 1
flagTwo <- 0
as.logical(flagOne)
as.logical(flagTwo)
print(flagOne) # FALSE
print(flagTwo) # FALSE
typeof(flagOne)
class(flagOne)

[1] 20

[1] 0

[1] "20"
[1] FALSE

[1] "20"

[1] "0"

[1] 20
[1] 0

[1] TRUE

[1] FALSE

[1] 1
[1] 0

[1] "double"

[1] "numeric"

the typeof() helps understand the specific data types of their objects, like we can see that flagOne was indeed 'numeric' but it was actually 'double'

In [19]:
2 ^ 3
22 %% 8
22 %/% 8
22 / 8
3 * 3
5 - 2
2 + 2

[1] 8

[1] 6

[1] 2

[1] 2.75

[1] 9

[1] 3

[1] 4

In [21]:
TRUE && TRUE
TRUE && FALSE
FALSE && TRUE
FALSE && FALSE

[1] TRUE

[1] FALSE

[1] FALSE

[1] FALSE

In [22]:
TRUE || TRUE
TRUE || FALSE
FALSE || TRUE
FALSE || FALSE

[1] TRUE

[1] TRUE

[1] TRUE

[1] FALSE

In [23]:
!TRUE
!FALSE

[1] FALSE

[1] TRUE

In [26]:
#IF
name <- 'Alice'
if (name == 'Alice') {
  print('Hi, Alice.')
}

#IF-ELSE
name <- 'Bob'
if (name == 'Alice') {
  print('Hi, Alice.')
} else {
  print('Hello, stranger.')
}

#IF-ELSE-IF
name <- 'Bob'
age <- 30
if (name == 'Alice') {
  print('Hi, Alice.')
} else if (age < 12) {
  print('You are not Alice, kiddo.')
} else {
  print('You are neither Alice nor a little kid.')
}

[1] "Hi, Alice."
[1] "Hello, stranger."
[1] "You are neither Alice nor a little kid."

In [31]:
while (TRUE) {
print('Please type your name.')
name <- readline()
if (name == 'your name') {
break
}
print('Thank you!')
}

Ammar
your name
[1] "Please type your name."
[1] "Thank you!"
[1] "Please type your name."

In [62]:
while (TRUE) {
print('Who are you?')
name = readline()
if (name != 'Joe') {
next
}
print('Hello, Joe. What is the password? (It is a fish.)')
if (name == 'swordfish') {
break
}
print('Access granted.')
}

Ammar
swordfish
Joe
swordfish

In [59]:
my_function <- function(name) {
}
my_function('Alice') # Alice
my_function('Bob') # Bob
print(name)

my_func <- function(answerNumber) {
if (answerNumber < 0) {
}
return ('positive')
}
r <- -1
fortune <- my_func(r)
print(fortune)
return ('negetive')

# abs integer number
num <- -5
print('Absolute value of -5 is:', abs(num))
# Notice print here, it is also a built-in function
# abs floating number
fnum <- -1.45

print('Absolute value of 1.45 is:', abs(fnum))
# input function
X = readline()
print(X)
# max function
number <- c(3, 2, 8, 5, 10, 6)
largest_number = max(number);
print(argest_number)
# sum function my_list
my_list <- c(1,3,5,2,4)
print(sum(my_list))

NULL

NULL

[1] "your name"
[1] "positive"

[1] "negetive"

[1] "Absolute value of -5 is:"
[1] "Absolute value of 1.45 is:"
Ammar
[1] "Ammar"

ERROR: Error: object 'argest_number' not found

In [45]:
myPower <- function(b, e) {
  # result to 1
  result <- 1
  if(e == 0){
    return(result)
  }

  # negative exponents
  if (e < 0) {
    b <- 1 / b
    e <- -e
  }

  # power using a loop
  for (i in 1:e) {
    result <- result * b
  }

  # Return the result
  return(result)
}

print(myPower(2, 3))  # Output: 8
print(myPower(3, 4))  # Output: 81
print(myPower(5, 0))  # Output: 1
print(myPower(-1, -1)) # Output: -1

[1] 8
[1] 81
[1] 1
[1] -1

In [44]:
subtotal <- function(values) {
  cumulative_sum <- values[1]

  # get cumsum
  for (i in 2:length(values)) {
    cumulative_sum <- cumulative_sum + values[i]
    values[i] <- cumulative_sum
  }

  # return modified array
  return(values)
}

arr <- c(5.8, 2.6, 9.1, 3.4, 7.0)
values <- subtotal(arr)

# Print the modified array and the average
print(arr)
print(values)
print(mean(values))

[1] 5.8 2.6 9.1 3.4 7.0
[1]  5.8  8.4 17.5 20.9 27.9
[1] 16.1

In [54]:
Counter <- function(char_array) {
  letters <- 0
  uppercases <- 0
  lowercases <- 0
  spaces <- 0


  for (i in seq_along(char_array)) {
    if (grepl("[A-Za-z]", char_array[i])) { # grepl is builtin pattern matching (regex)
      letters <- letters + 1
    }
    if (grepl("[A-Z]", char_array[i])) {
      uppercases <- uppercases + 1
    } else if (grepl("[a-z]", char_array[i])) {
      lowercases <- lowercases + 1
    } else if (char_array[i] == " ") {
      spaces <- spaces + 1
    }
  }

  return(c(letters, uppercases, lowercases, spaces))
}


text <- "Hello, I am a student of FAST University."
# string into a character vector
char_array <- unlist(strsplit(text, split = ""))
result <- Counter(char_array)

cat(text, "\n")
cat('No. of letters are:', result[1], "\n")
cat('No. of spaces are:', result[4], "\n")
cat('No. of uppercase letters are:', result[2], "\n")
cat('No. of lowercase letters:', result[3], "\n")

Hello, I am a student of FAST University.
No. of letters are: 32
No. of spaces are: 7
No. of uppercase letters are: 7
No. of lowercase letters: 25

In [55]:
findMedianSortedArrays <- function(nums1, nums2) {
    # extend nums1 with nums2
    nums1 <- c(nums1, nums2)
    # Sort array
    nums1 <- sort(nums1)
    # if length is even
    if (length(nums1) %% 2 == 0) {
        # If even, return average middle two elements
        return((nums1[length(nums1) / 2] + nums1[length(nums1) / 2 + 1]) / 2)
    } else {
        # If odd, return middle element
        return(nums1[(length(nums1) + 1) / 2])
    }
}


print(findMedianSortedArrays(c(1, 3), c(2)))
print(findMedianSortedArrays(c(1, 2), c(3, 4)))

[1] 2
[1] 2.5