**Data Analysis and Visualization Lab - Midterm Exam - Fall 2023** <br>
Please note:
- Total marks are 25
- No internet or helping material is allowed
- You can use Google colab (if Jupyter is not installed on your system )
- Please submit your code on **Google Classroom**
- Add #Roll_Number as filename and download the .ipynb file, submit the file. No link sharing is allowed. No PDF/ZIP will be acceptable.
-Submit all question in single notebook file.
- The allowed time is **1 hour 45 mins** including submission time

# **QUESTION 01** : [13 Marks]


##For 500 tweets from dataset & perform feature extraction using tf-idf & BoW.

In [1]:
import pandas as pd
import numpy as np
import collections

In [2]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ammar\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [1]:
import opendatasets as od
# https://www.kaggle.com/datasets/mrmorj/hate-speech-and-offensive-language-dataset
od.download("https://www.kaggle.com/datasets/mrmorj/hate-speech-and-offensive-language-dataset")

Dataset URL: https://www.kaggle.com/datasets/mrmorj/hate-speech-and-offensive-language-dataset
Downloading hate-speech-and-offensive-language-dataset.zip to .\hate-speech-and-offensive-language-dataset

100%|██████████| 1.01M/1.01M [00:03<00:00, 343kB/s]

In [3]:
data = pd.read_csv(r"hate-speech-and-offensive-language-dataset/labeled_data.csv")
data.head()

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
0,0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24783 entries, 0 to 24782
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          24783 non-null  int64
 1   count               24783 non-null  int64
 2   hate_speech         24783 non-null  int64
 3   offensive_language  24783 non-null  int64
 4   neither             24783 non-null  int64
 5   class               24783 non-null  int64
 6   tweet               24783 non-null  object
dtypes: int64(6), object(1)
memory usage: 1.3+ MB

In [21]:
#perform some action for print head like this
data.tweet.head()

0    !!! RT @mayasolovely: As a woman you shouldn't...
1    !!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2    !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3    !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4    !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...
Name: tweet, dtype: object

In [9]:
#perform some actions to copy 5000 tweet in data2
data2 = data.copy()
data

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
0,0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...
...,...,...,...,...,...,...,...
24778,25291,3,0,2,1,1,you's a muthaf***in lie &#8220;@LifeAsKing: @2...
24779,25292,3,0,1,2,2,"you've gone and broke the wrong heart baby, an..."
24780,25294,3,0,3,0,1,young buck wanna eat!!.. dat nigguh like I ain...
24781,25295,6,0,6,0,1,youu got wild bitches tellin you lies
24782,25296,3,0,0,3,2,~~Ruffled | Ntac Eileen Dahlia - Beautiful col...

In [4]:
import re
# functions to perform bag of words
def word_extraction(sentence): # splits the sentences while removing the basic stopwords
    #TODO
    words = re.sub(r'\W+', ' ', sentence).lower().split()
    cleaned_text = [w for w in words if w not in set(nltk.corpus.stopwords.words('english'))]
    return cleaned_text

def tokenize(sentences): # tokenzies all sentences
    #TODO
    words = [word_extraction(sentence) for sentence in sentences]
    return words

def calculateBOW(wordset,l_doc): # calculates vectors for each sentence
  #TODO
  tokenized_sentences = tokenize(l_doc)
  vec = [0] * len(wordset)
  
  for word in tokenized_sentences:
    if word in wordset:
      vec[wordset.index(word)] += 1
  return vec

In [5]:
vocab = tokenize(data['tweet'])

In [6]:
vectors = []

In [7]:
for sentence in data['tweet']:
    vectors.append(calculateBOW(vocab,sentence))

In [8]:
vectors = pd.DataFrame(vectors)

In [9]:
# prints the table of the vectors of all selected tweets
vectors = vectors.fillna(0)
vectors

,0,1,2,3,4,5,6,7,8,9,...,24773,24774,24775,24776,24777,24778,24779,24780,24781,24782
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24778,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24779,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24780,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24781,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24782,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
corpus = #data from tweet dataset
words_set = set()

#TODO

n_docs = #·Number of documents in the corpus
n_words_set = #·Number of unique words in the

In [ ]:
# Compute Term Frequency (TF)
for i in range(n_docs):
    words = # Words in the document

    #TODO

    # number of documents in the corpus that contain this word

   #TODO

In [ ]:
idf

In [ ]:
df_tf

In [ ]:
# tdidf vectors of all sentences
tdidf

,ya,tranny,can,boy,or,@viva_based,blows,going,might,somebody,...,trash,place!!,start,she,HATE,hoes!,"&#128514;&#128514;&#128514;""",just,should,cuffin
0,0.000000,0.000000,0.00,0.0000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,...,0.04,0.0000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.04,0.0000
1,0.000000,0.000000,0.00,0.0625,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,...,0.00,0.0625,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.00,0.0625
2,0.000000,0.000000,0.00,0.0000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,...,0.00,0.0000,0.047619,0.033284,0.00,0.000000,0.000000,0.000000,0.00,0.0000
3,0.000000,0.111111,0.00,0.0000,0.000000,0.111111,0.000000,0.00,0.000000,0.000000,...,0.00,0.0000,0.000000,0.077663,0.00,0.000000,0.000000,0.000000,0.00,0.0000
4,0.026883,0.000000,0.00,0.0000,0.038462,0.000000,0.000000,0.00,0.053767,0.000000,...,0.00,0.0000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.00,0.0000
5,0.000000,0.000000,0.00,0.0000,0.000000,0.000000,0.052632,0.00,0.000000,0.052632,...,0.00,0.0000,0.000000,0.000000,0.00,0.052632,0.052632,0.036788,0.00,0.0000
6,0.000000,0.000000,0.05,0.0000,0.000000,0.000000,0.000000,0.05,0.000000,0.000000,...,0.00,0.0000,0.000000,0.000000,0.05,0.000000,0.000000,0.034949,0.00,0.0000
7,0.000000,0.000000,0.00,0.0000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,...,0.00,0.0000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.00,0.0000
8,0.053767,0.000000,0.00,0.0000,0.000000,0.000000,0.000000,0.00,0.053767,0.000000,...,0.00,0.0000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.00,0.0000
9,0.000000,0.000000,0.00,0.0000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,...,0.00,0.0000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.00,0.0000

# **QUESTION 02** : [12 Marks]

1. Create two filters for edge detection hx and hy of size 3x3. 'Use SOBEL FILTER'

2. for every 3*3 window of the image, multiply the two filters each at once, store the new result for the central pixel in two new images, one for the x value and one for the y value.

3. create a new image and fill it with the final value for edge from x and y filters together according to the following equation ( 𝑒𝑑𝑔𝑒𝑠𝑡𝑟𝑒𝑛𝑔𝑡ℎ = √(𝑥2 + 𝑦2 )^2 )

4. Apply threshold to the edge strength, in which edges above this threshold will be visible and others will disappear.
5. Print the image resulted from the (x filter only), (y filter only) and (from x and y filter) together.

In [ ]:
### Implementation