> 20L-0961
>> Ammar Ahmed
*BDS-3C*

## Q.1: Finding Matching Positions in two arrays

NumPy is a powerful library for Python that provides support for large, multi-dimensional arrays and matrices, along with a collection of high-level mathematical functions to operate on these arrays. In this question, we have two arrays A and B, and we need to find the positions where their elements match.

To solve this problem, we can use a NumPy function or implement our own logic. Here are the arrays:

```python
import numpy as np

A = ([1,2,3,2,3,4,3,4,5,6])
B = ([7,2,10,2,7,4,9,4,9,8])

In [1]:
A  = [1, 2, 3, 4, 5, 6]
B = [7,2,10,2,7,4,9,4,9,8]
# to numpy arrays

A = [1, 2, 3, 2, 3, 4, 3, 4, 5, 6]
B = [7, 2, 10, 2, 7, 4, 9, 4, 9, 8]

matching_positions = []
for i in range(len(A)):
    if A[i] == B[i]:
        matching_positions.append(i)

print(matching_positions)

[1, 3, 5, 7]

## Q.2: EDA on automobile_data.csv

<!-- List of tasks -->

1. Check the first five entries of the dataset.
2. Check the last five entries of the dataset.
3. Check the columns of the dataset.
4. Check the unique values for each column.
5. Check the missing values for each column.
6. Drop unnecessary data columns.
7. Drop null values.

In [12]:
import pandas as pd
import numpy as np

np.zeros((3, 4))

# reading data from csv file
df = pd.read_excel('automobile_data.xlsx')

# first entries
print('first few entries of dataset\n',df.head())
print('\nlast few entries of dataset\n',df.tail())

first few entries of dataset
    index      company   body-style  wheel-base  length engine-type  \
0      0  alfa-romero  convertible        88.6   168.8        dohc
1      1  alfa-romero  convertible        88.6   168.8        dohc
2      2  alfa-romero    hatchback        94.5   171.2        ohcv
3      3         audi        sedan        99.8   176.6         ohc
4      4         audi        sedan        99.4   176.6         ohc

  num-of-cylinders  horsepower  average-mileage    price
0             four         111               21  13495.0
1             four         111               21  16500.0
2              six         154               19  16500.0
3             four         102               24  13950.0
4             five         115               18  17450.0

last few entries of dataset
     index     company body-style  wheel-base  length engine-type  \
56     81  volkswagen      sedan        97.3   171.7         ohc
57     82  volkswagen      sedan        97.3   171.7         ohc
58     86  volkswagen      sedan        97.3   171.7         ohc
59     87       volvo      sedan       104.3   188.8         ohc
60     88       volvo      wagon       104.3   188.8         ohc

   num-of-cylinders  horsepower  average-mileage    price
56             four          85               27   7975.0
57             four          52               37   7995.0
58             four         100               26   9995.0
59             four         114               23  12940.0
60             four         114               23  13415.0

In [3]:
# get columns of dataset
print(df.columns)

Index(['index', 'company', 'body-style', 'wheel-base', 'length', 'engine-type',
       'num-of-cylinders', 'horsepower', 'average-mileage', 'price'],
      dtype='object')

In [4]:
# unique values in a column
for col in df:
    print(col, df[col].unique(),'\n')

index [ 0  1  2  3  4  5  6  9 10 11 13 14 15 16 17 18 19 20 27 28 29 30 31 32
 33 34 35 36 37 38 39 43 44 45 46 47 49 50 51 52 53 54 55 56 57 61 62 63
 66 67 68 69 70 71 79 80 81 82 86 87 88]

company ['alfa-romero' 'audi' 'bmw' 'chevrolet' 'dodge' 'honda' 'isuzu' 'jaguar'
 'mazda' 'mercedes-benz' 'mitsubishi' 'nissan' 'porsche' 'toyota'
 'volkswagen' 'volvo']

body-style ['convertible' 'hatchback' 'sedan' 'wagon' 'hardtop']

wheel-base [ 88.6  94.5  99.8  99.4 105.8 101.2 103.5 110.   88.4  93.7  96.5  94.3
 113.  102.   93.1  95.3 104.9 120.9 112.   96.3 100.4  89.5  98.4  95.7
 104.5  97.3 104.3]

length [168.8 171.2 176.6 177.3 192.7 176.8 189.  193.8 197.  141.1 155.9 158.8
 157.3 157.1 175.4 169.1 170.7 199.6 191.7 159.1 169.  175.  190.9 208.1
 199.2 172.4 165.3 170.2 184.6 168.9 175.7 158.7 169.7 187.8 171.7 188.8]

engine-type ['dohc' 'ohcv' 'ohc' 'l' 'rotor' 'ohcf' 'dohcv']

num-of-cylinders ['four' 'six' 'five' 'three' 'twelve' 'two' 'eight']

horsepower [111 154 102 115 110 101 121 182  48  70  68  76 100  78 176 262  72 123
 184  88  55  69 152 207 288  62 156  52  85 114]

average-mileage [21 19 24 18 23 16 15 47 38 31 30 25 13 17 22 14 37 45 35 27 26]

price [13495. 16500. 13950. 17450. 15250. 18920. 16430. 16925. 20970. 30760.
 41315. 36880.  5151.  6295.  6575.  6377.  6229.  7295. 12945. 10345.
  6785.    nan 32250. 35550. 36000.  5195.  6095.  6795. 11845. 18344.
 25552. 28248. 40960. 45400.  5389.  6189.  6989.  8189.  7099.  6649.
  6849.  7349. 13499. 34028. 37028.  5348.  6338.  6488.  6918.  7898.
  8778. 15750.  7775.  7975.  7995.  9995. 12940. 13415.]

In [5]:
# missing values for each column
df.isnull().sum()

index               0
company             0
body-style          0
wheel-base          0
length              0
engine-type         0
num-of-cylinders    0
horsepower          0
average-mileage     0
price               3
dtype: int64

In [6]:
# drop unwanted columns
df.drop(['index', 'body-style', 'num-of-cylinders', 'average-mileage'], axis=1, inplace=True)
df

        company  wheel-base  length engine-type  horsepower    price
0   alfa-romero        88.6   168.8        dohc         111  13495.0
1   alfa-romero        88.6   168.8        dohc         111  16500.0
2   alfa-romero        94.5   171.2        ohcv         154  16500.0
3          audi        99.8   176.6         ohc         102  13950.0
4          audi        99.4   176.6         ohc         115  17450.0
..          ...         ...     ...         ...         ...      ...
56   volkswagen        97.3   171.7         ohc          85   7975.0
57   volkswagen        97.3   171.7         ohc          52   7995.0
58   volkswagen        97.3   171.7         ohc         100   9995.0
59        volvo       104.3   188.8         ohc         114  12940.0
60        volvo       104.3   188.8         ohc         114  13415.0

[61 rows x 6 columns]

In [7]:
# drop nulls
df.dropna(inplace=True)
df.isnull().sum()

company        0
wheel-base     0
length         0
engine-type    0
horsepower     0
price          0
dtype: int64

## Data Analysis

Tasks:

a. Find the most expensive car from the dataset and display its price

b. Calculate total cars per manufacturer and show the result

c. Read the details of vehicles against Toyota manufacturer and print them

d. Arrange the cars according to the prices (highest-lowest)

In [8]:
# A: get data of most expensive car
print(df[df['price'].max() == df['price']])

          company  wheel-base  length engine-type  horsepower    price
35  mercedes-benz       112.0   199.2        ohcv         184  45400.0

In [9]:
# B: cars per company
df['company'].value_counts()

toyota           7
bmw              6
mazda            5
nissan           5
audi             4
mercedes-benz    4
mitsubishi       4
volkswagen       4
alfa-romero      3
chevrolet        3
honda            3
jaguar           3
dodge            2
porsche          2
volvo            2
isuzu            1
Name: company, dtype: int64

In [10]:
# C: read details of manufacturer toyota and print them
df[df['company'] == 'toyota']

   company  wheel-base  length engine-type  horsepower    price
48  toyota        95.7   158.7         ohc          62   5348.0
49  toyota        95.7   158.7         ohc          62   6338.0
50  toyota        95.7   158.7         ohc          62   6488.0
51  toyota        95.7   169.7         ohc          62   6918.0
52  toyota        95.7   169.7         ohc          62   7898.0
53  toyota        95.7   169.7         ohc          62   8778.0
54  toyota       104.5   187.8        dohc         156  15750.0

In [11]:
# D: arrannging cars by price descending
df.sort_values(by='price', ascending=False)

          company  wheel-base  length engine-type  horsepower    price
35  mercedes-benz       112.0   199.2        ohcv         184  45400.0
11            bmw       103.5   193.8         ohc         182  41315.0
34  mercedes-benz       120.9   208.1        ohcv         184  40960.0
46        porsche        89.5   168.9        ohcf         207  37028.0
12            bmw       110.0   197.0         ohc         182  36880.0
26         jaguar       102.0   191.7        ohcv         262  36000.0
25         jaguar       113.0   199.6        dohc         176  35550.0
45        porsche        89.5   168.9        ohcf         207  34028.0
24         jaguar       113.0   199.6        dohc         176  32250.0
10            bmw       103.5   189.0         ohc         182  30760.0
33  mercedes-benz       110.0   190.9         ohc         123  28248.0
32  mercedes-benz       110.0   190.9         ohc         123  25552.0
9             bmw       101.2   176.8         ohc         121  20970.0
6            audi       105.8   192.7         ohc         110  18920.0
31          mazda       104.9   175.0         ohc          72  18344.0
4            audi        99.4   176.6         ohc         115  17450.0
8             bmw       101.2   176.8         ohc         101  16925.0
2     alfa-romero        94.5   171.2        ohcv         154  16500.0
1     alfa-romero        88.6   168.8        dohc         111  16500.0
7             bmw       101.2   176.8         ohc         101  16430.0
54         toyota       104.5   187.8        dohc         156  15750.0
5            audi        99.8   177.3         ohc         110  15250.0
3            audi        99.8   176.6         ohc         102  13950.0
44         nissan       100.4   184.6        ohcv         152  13499.0
0     alfa-romero        88.6   168.8        dohc         111  13495.0
60          volvo       104.3   188.8         ohc         114  13415.0
19          honda        96.5   175.4         ohc         101  12945.0
59          volvo       104.3   188.8         ohc         114  12940.0
30          mazda        95.3   169.0       rotor         101  11845.0
20          honda        96.5   169.1         ohc         100  10345.0
58     volkswagen        97.3   171.7         ohc         100   9995.0
53         toyota        95.7   169.7         ohc          62   8778.0
39     mitsubishi        96.3   172.4         ohc          88   8189.0
57     volkswagen        97.3   171.7         ohc          52   7995.0
56     volkswagen        97.3   171.7         ohc          85   7975.0
52         toyota        95.7   169.7         ohc          62   7898.0
55     volkswagen        97.3   171.7         ohc          52   7775.0
43         nissan        94.5   170.2         ohc          69   7349.0
18          honda        96.5   157.1         ohc          76   7295.0
40         nissan        94.5   165.3         ohc          55   7099.0
38     mitsubishi        96.3   172.4         ohc          88   6989.0
51         toyota        95.7   169.7         ohc          62   6918.0
42         nissan        94.5   165.3         ohc          69   6849.0
29          mazda        93.1   159.1         ohc          68   6795.0
21          isuzu        94.3   170.7         ohc          78   6785.0
41         nissan        94.5   165.3         ohc          69   6649.0
15      chevrolet        94.5   158.8         ohc          70   6575.0
50         toyota        95.7   158.7         ohc          62   6488.0
16          dodge        93.7   157.3         ohc          68   6377.0
49         toyota        95.7   158.7         ohc          62   6338.0
14      chevrolet        94.5   155.9         ohc          70   6295.0
17          dodge        93.7   157.3         ohc          68   6229.0
37     mitsubishi        93.7   157.3         ohc          68   6189.0
28          mazda        93.1   159.1         ohc          68   6095.0
36     mitsubishi        93.7   157.3         ohc          68   5389.0
48         toyota        95.7   158.7         ohc          62   5348.0
27          mazda        93.1   159.1         ohc          68   5195.0
13      chevrolet        88.4   141.1           l          48   5151.0

## Q.4: Create a dataframe. Make relevant columns, populate values in the data set, write it as .csv file and download the .csv file to your computer.

In [13]:
df = pd.DataFrame({'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]})
df

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

In [16]:
df.to_csv('l200961.csv',index=  False)