# **Question 1:** You are analyzing monthly sales data for a store and have the following values:

- Months: ['January', 'February', 'March', 'April']
- Sales: [5000, 7000, 8000, 6000]


Create a line chart using Plotly to visualize this data.

In [ ]:
print("Question 1")

# Question 2: Interactive Scatter Plot with Labels

A researcher collects data for a study on plant growth. The heights (in cm) and widths (in cm) of 6 plants are:

- Heights: [10, 15, 20, 25, 30, 35]
- Widths: [3, 4, 5, 6, 7, 8]

Plot an interactive scatter plot and label each point with "Plant 1", "Plant 2", and so on.

In [ ]:
print("Question 2")

 # Question 3:  Bar Chart for Product Sales
A company sells four products: A, B, C, and D. The sales in Q1 are as follows:

- Products: ['A', 'B', 'C', 'D']
- Sales: [150, 250, 300, 200]

Create a bar chart and customize it by giving the bars different colors.

In [ ]:
print("Question 3")

 # Question 4:  Pie Chart for Market Share
Five companies have the following market shares (in %):

- Companies: ['Company A', 'Company B', 'Company C', 'Company D', 'Company E']
- Market Shares: [30, 25, 20, 15, 10]

Create a pie chart to visualize the market distribution.

In [ ]:
print("Question 4")

 # Question 5: Add Dropdown for Data Selection
Create a line chart for temperature data for two cities (City A and City B). Allow users to select which city's data they want to see using a dropdown.

- City A: [10, 12, 15, 18]
- City B: [8, 9, 11, 14]
- Months: ['January', 'February', 'March', 'April']

In [ ]:
print("Question 5")

 # Question 6:

Plot the following points in a 3D space:

- x-coordinates: [1, 2, 3, 4, 5]
- y-coordinates: [2, 4, 6, 8, 10]
- z-coordinates: [1, 3, 5, 7, 9]

In [ ]:
print("Question 6")

 # Question 7:  Annotate Data Points
 You are creating a plot for test scores in math and science for 5 students:

- Students: ['Alice', 'Bob', 'Charlie', 'David', 'Eve']
- Math Scores: [78, 85, 90, 95, 88]
- Science Scores: [80, 70, 92, 85, 86]

Create a scatter plot and annotate each point with the student names.

In [ ]:
print("Question 7")

 # Question 8: Histogram for Age Distribution
A survey collects age data from 50 people. Create a histogram with the following data:

- Ages: [23, 25, 29, 32, 23, 22, 30, 34, 31, 27, 28, 35, 29, 24, 26, 33, 31, 23, 28, 29, 30, 26, 27, 28, 32, 24, 35, 31, 29, 28, 30, 25, 26, 29, 27, 28, 24, 25, 27, 31, 29, 28, 26, 27, 30, 29, 28, 24, 31, 32]

In [ ]:
print("Question 8")

# Question 9: Dual Axis Chart
Create a chart that visualizes the monthly rainfall and temperature for a city:

- Months: ['Jan', 'Feb', 'Mar', 'Apr']
- Rainfall (mm): [20, 30, 50, 40]
- Temperature (Â°C): [5, 7, 10, 12]

Use dual axes, one for rainfall and one for temperature.

In [ ]:
print("Question 9")

# Question 10:
A teacher records scores for 3 subjects (Math, Science, English) for 4 students:

- Students: ['Alice', 'Bob', 'Charlie', 'David']
- Subjects: ['Math', 'Science', 'English']

```
Scores: [[78, 80, 85],  
         [90, 70, 88],  
         [85, 92, 79],  
         [88, 85, 84]]
```

Create a heatmap to visualize this data.

In [ ]:
print("Question 10")